<div class="mb-4">
    <h2 class="display-6 mb-3">Популярные теги</h2>
    {% if tags_list %}
        {% for tag in tags_list %}
            <a href="{% url 'questions:list_with_tag' tag.name %}" class="d-inline {{ tag.size }} {{ tag.color }} text-decoration-none">{{ tag.name }}</a>
        {% endfor %}
    {% else %}
        <a href="#" class="d-inline link-warning fs-4 text-decoration-none">Django</a>
        <a href="#" class="d-inline link-primary text-decoration-none">python</a>
        <a href="#" class="d-inline link-dark fs-5 text-decoration-none">C++</a>
        <a href="#" class="d-inline link-info text-decoration-none">perl</a>
        <a href="#" class="d-inline link-warning text-decoration-none">C</a>
    {% endif %}
</div>
<div class="fs-4">
    <h2 class="display-6 mb-3">Доска почёта</h2>
    <a href="#" class="d-block link-secondary text-decoration-none">Cry1s</a>
    <a href="#" class="d-block link-secondary text-decoration-none">Vanv1k</a>
    <a href="#" class="d-block link-secondary text-decoration-none">Demios</a>
</div>